@import url("https://fonts.googleapis.com/css2?family=Bubblegum+Sans&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Bubblegum Sans", cursive;
}

:root {
  --clr-dark: #242226;
  --clr-light: #f5fbfb;
  --clr-accent: #45c9c0;
  --clr-dark-accent: #16615c;
  --clr-hover: #2a7975;
}

body {
  min-height: 100vh;
  background: var(--clr-accent);
  padding: 20px;
  display: -ms-grid;
  display: grid;
  place-items: center;
  overflow-x: hidden;
}

img {
  width: 100%;
  height: auto;
}

section {
  max-width: 500px;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 50px;
}

.intro {
  background: var(--clr-accent);
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.intro.play {
  opacity: 0;
  pointer-events: none;
}

.game {
  width: 100%;
  min-height: 100vh;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  padding: 20px;
  z-index: -1;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.game.play {
  opacity: 1;
  pointer-events: all;
  z-index: 100;
}

.rps-pics {
  max-width: 100%;
  overflow-x: hidden;
}

.rps-pics,
.rps-choices {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}

button {
  background: var(--clr-dark-accent);
  color: var(--clr-light);
  border: none;
  border-radius: 10px;
  font-size: 20px;
  cursor: pointer;
  -webkit-box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.3);
  box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.3);
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}

.start {
  padding: 20px 40px;
}

button:hover {
  background: var(--clr-hover);
}

.rps-choices button {
  padding: 10px;
}

.rps-choices button:hover {
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
}

.output {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.output h1 {
  color: var(--clr-dark);
}

.output span {
  display: inline-block;
  text-align: center;
  height: 40px;
  width: 40px;
  background: var(--clr-dark-accent);
  padding: 5px;
  border-radius: 5px;
  color: var(--clr-light);
}

.output-image {
  width: 100%;
  display: -ms-grid;
  display: grid;
  place-items: center;
  margin-top: 20px;
  gap: 10px;
}

.output-image img {
  width: 50px;
}

h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 10px;
}

.winner-text {
  color: var(--clr-dark);
  text-align: center;
  font-size: 18px;
}

.reset {
  padding: 10px 20px;
  display: none;
  pointer-events: none;
}

.reset.show {
  display: block;
  pointer-events: all;
}

h1 {
  color: var(--clr-dark-accent);
}

@media screen and (max-width: 500px) {
  .rps-pics img {
    width: 20px;
  }
  .rps-pics {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
  }
}
/*# sourceMappingURL=style.css.map */
